<div class="w-100 background container-main">
    <div class="w-100 footer">
    <div class="container-footer">
        <h4>dummy</h4>
        <a href="">dummy1</a>
        <a href="">dummy2</a>
        <a href="">dummy3</a>
        <a href="">dummy4</a>
        <a href="">dummy5</a>
    </div>
    <div class="container-footer">
        <h4>dummy</h4>
        <a href="">dummy1</a>
        <a href="">dummy2</a>
        <a href="">dummy3</a>
        <a href="">dummy4</a>
        <a href="">dummy5</a>
    </div>
    <div class="container-footer">
        <h4>dummy</h4>
        <a href="">dummy1</a>
        <a href="">dummy2</a>
        <a href="">dummy3</a>
        <a href="">dummy4</a>
        <a href="">dummy5</a>
    </div>
    <div class="container-footer">
        <h4>dummy</h4>
        <a href="">dummy1</a>
        <a href="">dummy2</a>
        <a href="">dummy3</a>
        <a href="">dummy4</a>
        <a href="">dummy5</a>
    </div>
    </div>
    <p class="copyrights"><b>copyrights recieved 2024</b></p>
</div>
