<form class="center mt-5" [formGroup] = "FormGroup" (ngSubmit) = "Login(FormGroup)">
    <div class="form-group w-50 center h-25">
        <label for="exampleInputEmail1" class="mt-5">Email address</label>
        <input formControlName = "email" type="email" class="form-control w-50 mb-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <label for="exampleInputPassword1" class="mt-5">Password</label>
        <input formControlName = "password" type="password" class="form-control w-50" id="exampleInputPassword1" placeholder="Password">
        <button type="submit" class="btn btn-primary mt-5" [disabled] = "FormGroup.invalid">Submit</button>
    </div>
    
</form>