<nav class="navbar navbar-expand-lg bg-body-tertiary transparent" id="nav-bar">
    <div class="container-fluid background transparent" id="collapsed-nav">
      <h1 class="navbar-brand fs-1 m-2 white-color" id="h1">EgyBest 2</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5">
          @if(_authService.token){
           <li class="nav-item">
            <a routerLink="home" class="nav-link fs-5 m-2 white-color" aria-current="page" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 m-2 white-color" routerLink = "about">about</a>
          </li>
          }
        </ul>
        <!-- note that the seach bar is not responisve to resizing it will disapper once window is shrunk enough -->
        @if(_authService.token){
        <ul class="navbar-nav mb-2 mb-lg-0 px-5 search-container" id="SearchContainer">
          <form class="search-container w-100" [formGroup] = "group" (ngSubmit) = "search()" (keydown)="onKeyDown($event)">
            <button class="btn secondary-color my-2 my-sm-0" (click) = "openSearch()"><i class="fas fa-search white-color" id="searchIcon"></i></button>
            <input class="form-control mr-sm-2 p-2 mx-2 background brdr transparent w-100 " placeholder="Search" id="searchquery">
            <button class="btn my-2 my-sm-0" (click) = "search()" type="submit"><i class="fas fa-search white-color"></i></button>
          </form>
        </ul>
      }
        <ul class="navbar-nav mb-2 mb-lg-0 px-5">

          @if(_authService.token){
            <li class="nav-item">
             <a routerLink="#" class="nav-link fs-5 m-2 flex white-color" aria-current="page" routerLinkActive="active" ariaCurrentWhenActive="page" (mouseenter)="isMouseOnLink1 = true" (mouseleave)="isMouseOnLink1 = false">
              link1 
              <i class="fa-solid fa-chevron-down smaller-txt"></i>
            </a>
              <div class="drop-down-menu background" *ngIf = "isMouseOnLink1" (mouseenter)="isMouseOnLink1 = true" (mouseleave)="isMouseOnLink1 = false">
                <a href="" class="small-txt">dummy1</a><hr>
                <a href="" class="small-txt">dummy2</a><hr>
                <a href="" class="small-txt">dummy3</a>
             </div>
           </li>

           <li class="nav-item">
             <a class="nav-link fs-5 m-2 flex white-color" routerLink = "#" (mouseenter)="isMouseOnLink2 = true" (mouseleave)="isMouseOnLink2 = false">
              link2 
              <i class="fa-solid fa-chevron-down smaller-txt"></i>
            </a>
                 <div class="drop-down-menu background" *ngIf = "isMouseOnLink2" (mouseenter)="isMouseOnLink2 = true" (mouseleave)="isMouseOnLink2 = false">
                  <a href="" class="small-txt">dummy1</a><hr>
                  <a href="" class="small-txt">dummy2</a><hr>
                  <a href="" class="small-txt">dummy3</a>
                 </div>
           </li>
           }
           
           <li class="nav-item">
            <a href="#" class="white-color"><i class="fa-brands fa-facebook fs-4 m-3"></i></a>
          </li>
           <li class="nav-item">
            <a href="#" class="white-color"><i class="fa-brands fa-whatsapp fs-4 m-3"></i></a>
          </li>
           <li class="nav-item">
            <a href="#" class="white-color"><i class="fa-brands fa-instagram fs-4 m-3"></i></a>
          </li>
           <li class="nav-item">
            <a href="#" class="white-color"><i class="fa-brands fa-spotify fs-4 m-3"></i></a>
          </li>

          @if(!_authService.token){
          <li class="nav-item px-3">
            <a routerLink="login" class="nav-link fs-5 m-2 " aria-current="page" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="register" class="nav-link fs-5 m-2">Register</a>
          </li>
          }
          @if(_authService.token){
            <li class="nav-item">
              <a routerLink="login" class="nav-link fs-5 m-2 white-color" (click) = "logOut()">LogOut</a>
            </li>
          }

        </ul>
      </div>
    </div>
  </nav>