<form class="center mt-5" [formGroup] = "FormGroup" (ngSubmit)="SubmitForm(FormGroup)">
<div class="form-group w-75 center m-3" >
    <label for="name1">Full name</label>
    <input formControlName = "name" type="text" class="form-control w-50" id="name1" placeholder="Enter Name">
    <div class="w-50 brdr-danger m-2 p-2" [hidden] = "FormGroup.get('name')?.errors == null || !FormGroup.get('name')?.touched">
        <p [hidden] = "FormGroup.get('name')?.errors?.['required'] == null">name is required</p>
        <p [hidden] = "FormGroup.get('name')?.errors?.['minlength'] == null">name must be atleast 5 chars</p>
        <p [hidden] = "FormGroup.get('name')?.errors?.['maxlength'] == null">name can't exceed 30 chars</p>
    </div>
</div>
<div class="form-group w-75 center m-3" >
    <label for="Age1">Age</label>
    <input formControlName = "age" type="number" class="form-control w-50" id="age1" aria-describedby="emailHelp" placeholder="age">
    <div class="w-50 brdr-danger m-2 p-2" [hidden] = "FormGroup.get('age')?.errors == null || !FormGroup.get('age')?.touched" >
        <p [hidden] = "FormGroup.get('age')?.errors?.['required'] == null">age is required</p>
        <p [hidden] = "FormGroup.get('age')?.errors?.['min'] == null">min age is 18</p>
        <p [hidden] = "FormGroup.get('age')?.errors?.['max'] == null">boomer go sleep no more than 99</p>
    </div>
</div>
<div class="form-group w-75 center m-3" >
    <label for="exampleInputemail1">Email address</label>
    <input formControlName = "email" type="email" class="form-control w-50 " id="exampleInputemail1" aria-describedby="emailHelp" placeholder="Enter email">
    <div class="w-50 brdr-danger m-2 p-2" [hidden] = "FormGroup.get('email')?.errors == null || !FormGroup.get('email')?.touched" >
        <p [hidden] = "FormGroup.get('email')?.errors?.['required'] == null">email is required</p>
        <p [hidden] = "FormGroup.get('email')?.errors?.['email'] == null">email format is wrong</p>
    </div>
</div>
<div class="form-group w-75 center m-3">
    <label for="exampleInputpassword1"></label>
    <input formControlName = "password" type="password" class="form-control w-50" id="exampleInputpassword1" placeholder="password">
    <div class="w-50 brdr-danger m-2 p-2" [hidden] = "FormGroup.get('password')?.errors == null || !FormGroup.get('password')?.touched" >
        <p [hidden] = "FormGroup.get('password')?.errors?.['required'] == null">Password is required</p>
        <p [hidden] = "FormGroup.get('password')?.errors?.['minlength'] == null">Password must be atleast 8 chars</p>
        <p [hidden] = "FormGroup.get('password')?.errors?.['maxlength'] == null">Password must not exceed 20 chars</p>
    </div>
</div>
<button type="submit" class="btn btn-primary m-3" [disabled] = 'FormGroup.invalid'>Submit</button>
</form>
